
.App{
  background-image: url("./img/bram-naus-n8Qb1ZAkK88-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  
}
.App p{
  background-color: transparent;
  margin: 0;
}